*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Generated maps and external tool binaries
*.map
output/*/*.map
tools/osmosis/
tools/osmosis.zip
tools/libs/
local.properties
